*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NeueMachina, sans-serif;
}

@font-face {
  font-family: 'NeueMachina';
  src: local('NeueMachina'), url(./fonts/NeueMachina-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'NeueMachina';
    font-weight: 900;
    src: local('NeueMachina'), url(./fonts/NeueMachina-Ultrabold.otf) format('opentype');
}

@font-face {
    font-family: 'NeueMachina';
    font-weight: 900;
    src: local('NeueMachina'), url(./fonts/NeueMachina-Ultrabold.otf) format('opentype');
}